#header {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    gap: 10px
}
