.sticky-note {
    width: 150px;
    height: 200px;
    background-color: yellow;
    border-radius: 10px;
    color: black;
    overflow-y: scroll;
    padding: 0 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: absolute;
    cursor: move;
    border: 1px solid black;
}