#root {
  width: 100%;
  min-width: 1024px;
  min-height: 720px;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

