#button {
    padding: 0 10px;
    background-color: rgb(60, 60, 255);
    border-radius: 10px;
    width: fit-content;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centers content vertically */
}